<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="ro.amiq.dvt.launch.DVTGenericLaunchConfigurationType">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="uvm-1.2_ubus"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="process_factory_id" value="ro.amiq.dvt.launch.DVTProcessFactory"/>
<stringAttribute key="ro.amiq.dvt.launch.CONSOLE_TITLE_PATTERN" value=""/>
<stringAttribute key="ro.amiq.dvt.launch.FILTERS_KIND" value="Questa,VCS,IUS,UVM,"/>
<stringAttribute key="ro.amiq.dvt.launch.GENERIC_COMMAND_ATTR" value="#!/bin/sh&#10;&#10;${dvt_dialog_prompt:dvt_run_configurations/GenerateComponentsDiagram__uvm-1.2_ubus.swtxml}&#10;&#10;export DVT_CHS_FILE=&quot;${project_loc}/dvt_diagrams/component_hierarchy_of_${dialog_test}.chd&quot;&#10;export DVT_CHS_STOP_TEST=&quot;true&quot;&#10;&#10;make -f $dialog_makefile BITS=$dialog_bits UVM_TESTNAME=$dialog_test DVT_GENERATE_COMPONENTS_DIAGRAM=1 all&#10;&#10;${dvt_cli} refreshProject ${project_name} -subpath dvt_diagrams/ -depth 1&#10;${dvt_cli} openFile $DVT_CHS_FILE"/>
<stringAttribute key="ro.amiq.dvt.launch.LAUNCH_MODE" value="RUN"/>
<stringAttribute key="ro.amiq.dvt.launch.LAUNCH_PATTERNS" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&lt;patterns/&gt;"/>
<stringAttribute key="ro.amiq.dvt.launch.LAUNCH_SESSION" value="same"/>
<stringAttribute key="ro.amiq.dvt.launch.PROJECT_ATTR" value="uvm-1.2_ubus"/>
<stringAttribute key="ro.amiq.dvt.launch.RUN_AS" value="script"/>
<booleanAttribute key="ro.amiq.dvt.launch.SESSION_TERMINATE_ON_EXIT" value="true"/>
<stringAttribute key="ro.amiq.dvt.launch.WORKING_DIRECTORY" value="${workspace_loc:/uvm-1.2_ubus/examples}"/>
<booleanAttribute key="ro.amiq.dvt.launch.WORKING_SET_LINK_FILTER" value="false"/>
<booleanAttribute key="ro.amiq.dvt.launch.XTERM_HOLD" value="false"/>
<booleanAttribute key="ro.amiq.dvt.launch.XTERM_REDIRECT" value="false"/>
</launchConfiguration>
